{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des utilisateurs</h1>

        <div class="table-responsive">
            <table class="table table-sm table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Prénom</th>
                    <th>Nom de famille</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Voir</a>
                            <a class="btn btn-warning" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucun enregistrement trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a class="btn btn-success" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
    </div>
{% endblock %}
